* {
    box-sizing: border-box;
}

form {
    width: 500px;
    text-align: right;
    margin: auto;
    background-color: lightblue;
    border-radius: 8px;
    padding: 10px;
    font-size: 14pt;
    font-family: sans-serif;
}

.title {
    float: left;
    clear: both;
    text-align: right;
    width: 50%;
}

.right {
    display: block;
}

select {
    overflow: hidden;
    margin: 5px;
    text-align: left;
    width: 45%;
}

label {
    padding: 5px;
}

label input {
    width: 45%;
}

h1 {
    text-align: center;
}

#send {
    width: 100px;
    border-radius: 5px;
    position: absolute;
    left: 51%;
}

#sprinkles {
    position: relative;
    left: 0;
    top: 0;
}