* {
    box-sizing: border-box;
    font-family: "comic-sans ms", cursive, sans-serif;
}

tr:nth-child(odd) {
    background-color: white;
    }

tr:nth-child(even) {
    background-color:tan;
    }

td:last-child {
    text-align: right;
}

td:first-child {
    width: 250px;
}

th:last-child {
    text-align: right;
}

th:first-child {
    text-align: left;
}

table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 15px;
}

header {
    background-color: darkred;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 35pt;
    font-weight: bold;
    padding: 15px;
}

header .menu {
    display: none;
}

nav {
    background-color: darkblue;
    color: white;
    position: relative;
    top: 0;
    height: 50px;
    display: block;
}

.menu {
    display: inline-block;
    position: relative;    
    list-style: none;
    border-top: 1px solid white;
    border-right: 1px solid white;
    height: 100%;
    padding: 10px 0;
    width: 75px;
    text-align: center;
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
    height: 100%;
}

.menu ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

.menu:hover ul {
    display: block;
}
.menu ul li {
    padding: 5px;
    text-align: center;
    background-color: dimgray;
    border-bottom: 1px solid white;
    box-shadow: 0px 5px 10px gray;
}

.menu ul li:hover {
    background-color: lightslategray;   
}

.menu ul li:last-child {
    border: none;
    
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
}

header .menu{
    text-align: center;
    position: absolute;
    top:0;
    right:5px;;
    border:none;
    border-left: 1px solid white;
    font-size:40pt
}

header .menu div{
    font-size: 14pt;
    position: fixed;
    width: 75px;
    left: auto;
    text-align: left;
}

header .menu ul {
    list-style: none;
}

@media(max-width: 800px){
   nav{
       display:none;
   }

    header .menu {
      display: inline-block;
   }

}