* {}
    box-sizing: border-box;
}

body {
    margin: 0;
}

.blurb {
    width: 90%;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Krona One', sans-serif;
    border-width: 1px;
    border-style: solid;
    min-height: 202px;
    min-width: 400px;
    background-size: 200px;
    padding-top: 25px;
    margin-top: 25px;
 }

.blurb.left {
    background-color: burlywood;
    background-image: url(lion.jpg);
    background-repeat: no-repeat;    
    margin-right: auto;
    padding-left: 210px;
    padding-right: 50px;
    border-radius: 0 50px 50px 0;    
}

.blurb.right {
    background-color: aquamarine;
    background-image: url(teddy.jpg);
    background-repeat: no-repeat;
    background-position: right 0;     
    margin-left: auto;
    padding-right: 210px;
    padding-left: 50px;
    border-radius: 50px 0 0 50px;    
}

h1 {
    background-image: linear-gradient(to left, burlywood, aquamarine);
    text-align: center;
    box-shadow: inset 0 0 40px 0 white;
    margin: 0;
    padding: 10px;
}

#burly {
    color: rgb(111, 92, 70);
}

#aqua {
    color: rgb(60, 75, 100);
}